$color-Sunglow: #fecd2f;
$color-Mine-Shaft: #333333;
$color-Silver-Chalice:#aaaaaa;
$color-Black: #000000;
$color-White: #FFFFFF;
$color-DodgerBlue: #1da1f2;
$color-BlueGem: #20118D;
$color-Meteorite: #2D237B;